body {
    height: 100vh;
    background-color: #FAEDDD;
    display: flex;
    flex-direction: column;
    margin: 0;
    overflow: hidden;
}

header, footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px;
}

h1 {
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 48px;
}

button {
    width: 100px;
    height: 36px;
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

img {
    width: 24px;
    height: auto;
    margin-left: 4px;
}

img, a, #footer {
    padding: 0;
}

a {
    height: 24px;
}

.grid {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: auto;
}

#grid-container {
    width: 720px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

#settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    gap: 30px;
}

input {
    width: 100px;
    height: 36px;
}

#footer-text {
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}