body {
    display: flex;
    align-items: center;
    justify-content: center;
}

div {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    margin: 0;
    padding: 0;
}

button {
    margin: 16px;
    width: 100px;
    height: 36px;
}

.grid {
    display: flex;
    align-items: center;
    justify-content: center;
}

#container {
    width: 960px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}